.top_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 549px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin-top: -110px;
}

.top_banner.mobile {
    display: none;
}

.top_banner .en {
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 10px;
}

.top_banner .cn {
    font-size: 22px;
    word-spacing: 20px;
    margin-top: 16px;
}

.about {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0 160px;
}

.about .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    color: #215c38;
}

.about .title .right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    margin-left: 30px;
}

.about .title .cn,
.about .title .subhead {
    font-size: 45px;
    font-weight: 700;
}

.about .title .en {
    font-size: 18px;
    position: relative;
}

.about .title .en::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: rgba(33, 92, 56, .5);
    position: absolute;
    bottom: -20px;
    right: 4px;
}

.about .title .en::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: rgba(33, 92, 56, .5);
    position: absolute;
    bottom: -20px;
    right: 0;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 60px;
}

.about .desc {
    line-height: 35px;
    text-align: center;
    margin-top: 80px;
    padding: 0 62px;
}

@media screen and (min-width:320px) and (max-width:769px) {
    .top_banner.pc {
        display: none;
    }

    .top_banner.mobile {
        display: block;
    }

    .top_banner {
        height: 361px;
        margin-top: -50px;
    }

    .about {
        padding: 32px 10px 20px;
    }

    .about .title {
        flex-direction: column;
        align-items: normal;
    }

    .about .title .right {
        flex-direction: column;
    }

    .about .title .cn {
        font-size: 24px;
    }

    .about .title .subhead,
    .about .title .en {
        font-size: 12px;
        font-weight: normal;
        text-align: right;
        margin-top: 10px;
    }

    .about img {
        margin-top: 40px;
    }

    .about .desc {
        line-height: 30px;
        text-align: justify;
        margin-top: 30px;
        padding: 0;
    }
}

@media screen and (min-width:375px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}