.top_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 549px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin-top: -110px;
}

.top_banner.mobile {
    display: none;
}

.top_banner .en {
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 10px;
}

.top_banner .cn {
    font-size: 22px;
    word-spacing: 20px;
    margin-top: 16px;
}

.introduce {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.introduce .container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.introduce p {
    font-size: 18px;
    /* color: #a76903; */
    color: #e99a16;
    text-align: center;
    line-height: 35px;
    text-shadow: 2px 1px 1px black;
}

.guide {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0 150px;
}

.guide .search {
    display: flex;
    align-items: center;
    width: 220px;
    height: 35px;
    margin: 0 0 0 auto;
    border: 2px solid #215c38;
    border-radius: 10px;
}

.guide .search i {
    width: 31px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-weight: 700;
    color: #215c38;
}

.guide .search input {
    flex: 1;
    min-width: 0;
    height: 100%;
    background-color: transparent;
    font-size: 16px;
    padding-right: 10px;
}

.guide .list {
    margin-top: 50px;
}

.guide .list .item_title {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: #215c38;
    margin: 50px 0 30px;
}

.guide .list ul {
    margin: 0 -5px;
    border-bottom: 2px solid rgba(33, 92, 56, 0.5);
}

.guide .list ul li {
    float: left;
    width: 20%;
    width: calc(20% - 10px);
    margin: 15px 5px 60px;
    padding-left: 60px;
    position: relative;
}

.guide .list ul li a {
    display: flex;
    align-items: center;
}

.guide .list ul li img {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}

.guide .list ul li p {
    height: 52px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.guide .list ul li em {
    font-size: 12px;
}

@media screen and (min-width:320px) and (max-width:769px) {
    .top_banner.pc {
        display: none;
    }

    .top_banner.mobile {
        display: block;
    }

    .top_banner {
        height: 361px;
        margin-top: -50px;
    }

    .introduce {
        height: 440px;
        background-position: right;
    }

    .introduce p {
        font-size: 14px;
        line-height: 25px;
        text-align: left;
    }

    .guide {
        padding: 32px 10px;
    }

    .guide .list .item_title {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .guide .search {
        margin-bottom: 30px;
    }

    .guide .list {
        margin-top: 0;
    }

    .guide .list ul {
        margin: 40px -7.5px 0;
    }

    .guide .list ul li {
        width: calc(50% - 15px);
        margin: 0 7.5px 30px;
        padding-left: 60px;
    }

    .guide .list ul li p {
        height: 40px;
        font-size: 15px;
    }
}