.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}

.top_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 549px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.top_banner.mobile {
    display: none;
}

.top_banner .en {
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 10px;
}

.top_banner .cn {
    font-size: 22px;
    word-spacing: 20px;
    margin-top: 16px;
}

.part .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 140px 0 80px;
}

.part .desc {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 50px 30px 30px;
}

.part .desc p {
    line-height: 35px;
    font-size: 18px;
    text-align: center;
}

.part .desc .btn {
    width: 130px;
    height: 50px;
    background-color: #215c38;
    text-align: center;
    font-size: 15px;
    margin: 25px auto 0;
    border-radius: 10px;
}

.part .desc .btn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.part .desc .btn i {
    font-size: 40px;
    line-height: 10px;
    margin-top: 4px;
}

.part-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    margin-top: 50px;
}

.part-title .cn {
    font-size: 45px;
    font-weight: 700;
}

.part-title .en {
    font-size: 18px;
    position: relative;
}

.part-title .en::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: rgba(153, 153, 153, .5);
    position: absolute;
    bottom: -20px;
    right: 4px;
}

.part-title .en::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: rgba(153, 153, 153, .5);
    position: absolute;
    bottom: -20px;
    right: 0;
}

@media screen and (min-width:320px) and (max-width:769px) {
    .top_banner.pc {
        display: none;
    }

    .top_banner.mobile {
        display: block;
    }

    .top_banner {
        height: 361px;
    }

    .part .container {
        padding: 30px 0;
    }

    .part-title {
        margin-top: 0;
    }

    .part-title .cn {
        font-size: 28px;
    }

    .part-title .en {
        flex: 1;
        font-size: 14px;
        text-align: right;
    }

    .part .desc {
        margin-top: 40px;
        padding: 15px;
    }

    .part .desc p {
        font-size: 16px;
        line-height: 30px;
        text-align: left;
    }

    .part .desc .btn {
        width: 100px;
        height: 40px;
        font-size: 12px;
        border-radius: 5px;
    }

    .part .desc .btn i {
        font-size: 30px;
        line-height: 5px;
        margin-top: 6px;
    }
}

@media screen and (min-width:375px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}